@media (max-width:1000px) {
    header { 
        width: 100%;
    }

    .navbar ul {
        background: #b65db6;
        width: 60%;
        height: calc(50vh - 85px);
        position: absolute;
        top: 80px;
        right: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
    }

    .navbar ul li a {
        font-size: 35px;
    }

    .navbar label img {
        display: block;
    }

    #toggle-menu:checked ~ .navbar-list {
        display: flex;
    }

    .trends-four-img {
        display: flex;
        justify-content: center;
        align-content: center;
        height: 400px;
        padding: 20px;
    }

    .mission-title {
        display: flex;
    }
}



@media (max-width:990px) {
    header {
        width: 95%;
    }
    .hero-img {
        height: 500px;
    }

    .login-login {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }

    .benefits-benefits {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding-left: 20px;
        padding-right: 20px;

    }

    .servicios-cards {
        flex-direction: column;
    }

    .servicios-cards img {
        display: none;
    }
}



@media (max-width: 850px) {
    .hero-img {
        height: 400px;
    }

    .form-form {
        width: 500px;
    }

    .contact-info {
        flex-direction: column;
    }
}



@media (max-width:770px) {
    .navbar ul {
        width: 90%;
        height: calc(70vh - 85px);
    }

    .trends-four-img {
        display: none;
    }
}



@media (max-width:700px) {
    .trends-one img,
    .trends-two img,
    .trends-three img {
        display: none;
    }
}



@media (max-width:640px) {
    .hero-img {
        height: 300px;
    }

    .login-login h2 {
        padding-left: 25px;
        padding-right: 25px;
    }

    .navbar ul {
        width: 90%;
        height: calc(90vh - 85px);
    }
}



@media (max-width:550px) {
        .hero-img {
        height: 270px;
    }
    
    .form-form {
        width: 340px;
    }
}