@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
    --background: #fff;
    --primary: #000000;
    --secondary: #f1c5f5;
    --tertiary: #f7a5ff;
    --quaternary: hwb(0 87% 10% / 0.904);
    --btnbg: #9343b3;

  /* Textos */

    --text-black: #000000;
    --text-white: #fff;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: var(--primary);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    max-width: 1200px;
}

header {
background: var(--background);
display: flex;
justify-content: space-between;
align-items: center;
height: 85px;
padding: 0px 30px 0 30px;
position: fixed;
width: 100%;
}

.navbar ul {
list-style-type: none;
display: flex;
gap: 30px;
}

.navbar {
display: flex;
}

.navbar label img {
display: none;
}

#toggle-menu {
display: none;
}

.navbar-link {
color: #000000;
font-weight: 300;
}

header a{
    font-size: 20px;
    padding: 10px;
}

main {
    max-width: 1200px;
}

.title{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 100px 0px 0px 30px;
}

.servicios-cards {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 30px;
    gap: 10px;
}

.servicios-cards h3 {
    font-size: 20px;
    gap: 20px;
    padding: 20px 0px 0px 0px;
}

.servicios-cards img {
    width: 520px;
    height: 350px;
    padding: 20px;
}

.servicios-cards p {
    font-size: 16px;
    gap: 10px;
    padding: 20px;
}

.list-title {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.list-list {
    display: flex;
    justify-content: start;
    align-content: center;
    padding: 50px;
}

.list-list h3 {
    font-size: 23px;
    text-decoration: underline;
    gap: 20px;
    padding: 20px;
}

.list-list li {
    font-size: 20px;
    gap: 10px;
}

footer {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 14px;
    padding: 20px;
}